Repository hotosm/tm-admin, changes with the labels that .github/labeler.yml gives for each.
All labels: devops, dependency, documentation, version

docs: update readme with badges
  README.md
  pyproject.toml
Labels: dependency, documentation

build: fix dockerignore, allow tm_admin dir
  .dockerignore
Labels: none

test: add placeholder tests for ci
  tests/__init__.py
  tests/conftest.py
  tests/test_placeholder.py
Labels: none

build: revert to use minimum compatible dep versions
  pdm.lock
  pyproject.toml
Labels: dependency

docs: update readme workflow badges
  README.md
Labels: documentation

build: enable cli scripts to allow build to pass
  pyproject.toml
Labels: dependency

refactor: rename tmadmin-manage --> tmadmin_manage
  pyproject.toml
  tm_admin/tmadmin_manage.py
Labels: dependency

docs: update info about tmadmin_manage.py file
  docs/api.md
  docs/dataflow.md
Labels: documentation

build: replace mv with cp in ci build
  Dockerfile
Labels: devops

fix: Initial draft of a deep dive into exchaning data between multiple projects
  docs/dataexchange.md
Labels: documentation

docs: fix autodoc tm_admin.tmadmin_manage
  docs/api.md
Labels: documentation

docs: add tmadmin-manage.md page stub
  docs/tmadmin-manage.md
Labels: documentation

docs: add home link in sidebar
  mkdocs.yml
Labels: documentation

fix: Add more content in dataexchange page, add to index page
  docs/dataexchange.md
  mkdocs.yml
Labels: documentation

fix: fix module name
  docs/api.md
Labels: documentation

fix: Fix type in comment block
  tm_admin/generator.py
Labels: none

fix: Add methode to find a project or task by location
  tm_admin/dbsupport.py
Labels: none

fix: Make VALIDATOR unique
  tm_admin/types.yaml
Labels: none

fix: Add endpoints to receive data of profiles
  tm_admin/tmserver.py
Labels: none

fix: Some ID fileds are strings, not integers
  docs/tmadmin-manage.md
  tm_admin/Makefile
  tm_admin/generator.py
  tm_admin/services.proto
  tm_admin/users/users.py
  tm_admin/users/users.yaml
  tm_admin/yamlfile.py
Labels: documentation

fix: Convert int64 to bigint for SQL
  tm_admin/generator.py
Labels: none

fix: Add more columns used by TM
  tm_admin/projects/projects.yaml
Labels: none

fix: New module for importing data from a Tasking Manager database into a TM Admin database
  tm_admin/tmdb.py
Labels: none

fix: Add a target to generate test date from TM
  tm_admin/Makefile
Labels: none

fix: for SQL, int64 generates a bigint
  tm_admin/generator.py
Labels: none

fix: Import TM organisations table into TM Admin database
  tm_admin/tmdb.py
Labels: none

fix: Add subscription_tier
  tm_admin/organizations/organizations.yaml
Labels: none

fix: Add comment about bugs in config file
  tm_admin/generator.py
Labels: none

fix: Add draft of a doc on comparing endpoints between TM and FMTM
  docs/endpoints.md
Labels: documentation

fix: Add column to tables for if supported by TM Admin
  docs/endpoints.md
Labels: documentation

fix: New test case for User table endpoint support
  tests/test_users.py
Labels: none

fix: Add wrappers for common SQL queries to the user table
  tm_admin/users/users.py
Labels: none

fix: Add more endpoints from TM admin
  docs/endpoints.md
Labels: documentation

fix: Add more API docs for the table classes
  docs/api.md
Labels: documentation

fix: Add endpoints doc
  mkdocs.yml
Labels: documentation

fix: Recursively scan for source files
  docs/Doxyfile
Labels: documentation

fix: Add delete by ID
  tm_admin/dbsupport.py
Labels: none

fix: Add more comments
  tm_admin/tmdb.py
Labels: none

fix: Make userDB global to keep pytest happy
  tests/test_users.py
Labels: none

fix: Don't import UsersMessage
  tests/test_users.py
Labels: none

.github/labeler.yml:

"devops":
  - ".github/**/*"
  - "Dockerfile"
  - "*entrypoint.sh"
  - "Makefile"
"dependency":
  - "pyproject.toml"
  - "pdm.lock"
"documentation":
  - "docs/**/*"
  - "mkdocs.yml"
  - "README.md"
"version":
  - "tm_admin/__version__.py"
