Repository hotosm/tm-admin, changes with the labels that .github/labeler.yml gives for each.
All labels: devops, dependency, documentation, version

fix: Implement a few tests for a sanity check
  tests/test_campaigns.py
  tests/test_messages.py
Labels: none

fix: Add task history and invalidation history as nested tables
  tm_admin/tasks/tasks.yaml
Labels: none

fix: Drop duplicate columns as this table is now nested in the tasks table
  tm_admin/tasks/task_history.yaml
  tm_admin/tasks/task_invalidation_history.yaml
Labels: none

fix: Add messages config file
  tests/tmp.sql
  tm_admin/messages/messages.yaml
Labels: none

fix: Add campaigns table, import the utility tables into this table
  tm_admin/campaigns/campaigns.py
  tm_admin/campaigns/campaigns.yaml
Labels: none

fix: Add threaded progress bars, paginate large postgres tables
  tm_admin/tmdb.py
Labels: none

fix: Don't store pngs, they can be automatically generated
  docs/Makefile
Labels: documentation

fix: generate pngs for Markdown and PDFs from the .odt drawings
  docs/E2E/OrgProfile.odt
  docs/E2E/ProjectsProfile.odt
  docs/E2E/UserProfile.odt
  docs/Makefile
Labels: documentation

fix: Refactor to import large datasets in pages and threading
  tm_admin/tmdb.py
Labels: none

fix: Add threaded paging support for task_history table
  tm_admin/tasks/tasks.py
Labels: none

fix: Improve performance of importing data by using pages
  tm_admin/users/users.py
Labels: none

fix: Uses Geometry() instead of point or polygon
  tm_admin/generator.py
  tm_admin/tmdb.py
Labels: none

fix: be less verbose
  tm_admin/dbsupport.py
Labels: none

fix: Process WKB for points correctly
  tm_admin/tmdb.py
Labels: none

fix: Add the id and project_id so they're in the SQL query
  tm_admin/tasks/task_history.yaml
Labels: none

fix: fix: Add the id and project_id so they're in the SQL query
  tm_admin/tasks/task_invalidation_history.yaml
Labels: none

fix: Drop outline, it's a duplicate of geometry, which is what TM uses
  tm_admin/tasks/tasks.yaml
Labels: none

fix: Refactor to update the array of nested tables for history
  tm_admin/tasks/tasks.py
Labels: none

fix: Add some block comments for mkdocs
  tm_admin/campaigns/campaigns.py
Labels: none

fix: Add comment about int vs int array
  tm_admin/users/users.py
Labels: none

fix: Don't create the database by default, it's now an option
  tm_admin/tmadmin_manage.py
Labels: none

fix: refactor importing invalidation history
  tm_admin/tasks/tasks.py
Labels: none

fix: Update changelog
  CHANGELOG.md
Labels: none

fix: Refactor to use postgres views rather than LIMIT and OFFSET
  tm_admin/tasks/tasks.py
Labels: none

fix: add more taskactions
  tm_admin/types.yaml
Labels: none

fix: Add content on the tasks utility tables
  docs/schema.md
Labels: documentation

fix: Add content on the tasks utility tables
  docs/tmschema.md
Labels: documentation

fix: test case stubs for the task validation functions
  tests/test_validation.py
Labels: none

fix: Add some actual tests of the new database schema for validation
  tests/test_validation.py
Labels: none

ci: update pre-commit hook versions
  .pre-commit-config.yaml
Labels: none

docs: update readme badge link to LICENSE
  README.md
Labels: documentation

docs: link to docs.hotosm.org for versioning info
  mkdocs.yml
Labels: documentation

docs: add timestamp to doc pages via plugin
  mkdocs.yml
Labels: documentation

ci: docs build use image from gh-workflows
  .github/workflows/docs.yml
Labels: devops

docs: use code of conduct on docs.hotosm.org
  CODE_OF_CONDUCT.md
  mkdocs.yml
Labels: documentation

docs: replace black with ruff-format
  .pre-commit-config.yaml
Labels: none

fix: Add targets for managing the database
  Makefile
  tm_admin/Makefile
Labels: devops

fix: Add new docs on how to get started and importing TM data
  docs/getting_started.md
  docs/importing.md
  docs/tmdb.md
Labels: documentation

fix: Fix type so it matches the schema
  .gitignore
  docs/Doxyfile
  docs/Makefile
  tests/Makefile
  tests/test_tasks.py
  tests/test_validation.py
  tests/testschema.sql
  tests/tmtasks.sql
  tests/tmusers.sql
  tm_admin/CHANGELOG.md
  tm_admin/organizations/organizations.py
  tm_admin/projects/projects.py
  tm_admin/proto.py
  tm_admin/tasks/tasks.py
  tm_admin/tmadmin_manage.py
  tm_admin/types.yaml
  tm_admin/users/users.py
Labels: documentation

fix: start on adding support to merge in the supplemental tables
  tm_admin/tmadmin_manage.py
Labels: none

.github/labeler.yml:

"devops":
  - ".github/**/*"
  - "Dockerfile"
  - "*entrypoint.sh"
  - "Makefile"
"dependency":
  - "pyproject.toml"
  - "pdm.lock"
"documentation":
  - "docs/**/*"
  - "mkdocs.yml"
  - "README.md"
"version":
  - "tm_admin/__version__.py"
