Repository hotosm/tm-admin, changes with the labels that .github/labeler.yml gives for each.
All labels: devops, dependency, documentation, version

fix: Use Roles, not teamrole
  tm_admin/projects/projects_users.yaml
  tm_admin/teams/team_members.yaml
Labels: none

fix: Remove duplicate table entry
  tm_admin/fmtmroles.yaml
Labels: none

fix: Move team_members table from users to teams
  docs/roles.md
Labels: documentation

fix: Move team_members
  docs/schema.md
Labels: documentation

fix: Use Access.Roles instead of Userole
  tm_admin/tmdb.py
Labels: none

fix: Create the Types for postgres
  tm_admin/tmadmin_manage.py
Labels: none

fix: Delete junki debug file
  tm_admin/users/xx
Labels: none

fix: Use Access.Roles instead of Userrole
  tm_admin/campaigns/campaigns.py
  tm_admin/generator.py
  tm_admin/messages/messages.py
  tm_admin/organizations/org_task_stats.py
  tm_admin/organizations/organization_stats.py
  tm_admin/organizations/organizations.py
  tm_admin/projects/api.py
  tm_admin/projects/project_chat.py
  tm_admin/projects/projects.py
  tm_admin/tasks/api.py
  tm_admin/tasks/tasks-changes.py
  tm_admin/users/api.py
  tm_admin/users/users.py
Labels: none

fix: Use Access.Roles instead of Userrole
  tm_admin/access.py
Labels: none

fix: Don't use StrEnum
  tm_admin/access.py
Labels: none

fix: Update to use Access.Roles
  tests/test_orgs.py
  tests/test_projects.py
  tests/test_tasks.py
  tests/test_teams.py
  tests/test_users.py
Labels: none

fix: Update to use Access.Roles
  tm_admin/projects/api.py
  tm_admin/tasks/api.py
  tm_admin/users/api.py
Labels: none

fix: Print test case name, add pylint, drop verbose
  tests/Makefile
Labels: none

ci: add docker compose testing with db, plus ci workflow
  .github/workflows/pytest.yml
  docker-compose.yml
Labels: devops

ci: disable pytest workflow until code generation in setup
  .github/workflows/pytest.yml
Labels: devops

.github/labeler.yml:

"devops":
  - ".github/**/*"
  - "Dockerfile"
  - "*entrypoint.sh"
  - "Makefile"
"dependency":
  - "pyproject.toml"
  - "pdm.lock"
"documentation":
  - "docs/**/*"
  - "mkdocs.yml"
  - "README.md"
"version":
  - "tm_admin/__version__.py"
