Repository hotosm/tm-admin, changes with the labels that .github/labeler.yml gives for each.
All labels: devops, dependency, documentation, version

fix: Add new docs on the utility programs and importing TM data
  docs/generator.md
  docs/tmdb.md
Labels: documentation

fix: Add the new files
  mkdocs.yml
Labels: documentation

fix: There can be arrays of nested tables
  tm_admin/generator.py
Labels: none

fix: Make less verbose, don't print SQL queiries
  tm_admin/campaigns/campaigns.py
Labels: none

fix: Fix typo in command
  tm_admin/Makefile
Labels: none

fix: Wait for futures to complete
  tm_admin/tmdb.py
Labels: none

fix: Refactored to use new pgasync module from osm-rawdata
  tm_admin/tmdb.py
Labels: none

fix: Use pgasync module instead of postgres
  tm_admin/dbsupport.py
Labels: none

fix: Minor changes to use pgasync everywhere
  tm_admin/tmdb.py
Labels: none

fix: Finish refactoring to use asyncpg
  tm_admin/tmdb.py
Labels: none

fix: Refactor merging in interests to use asyncpg
  tm_admin/users/users.py
Labels: none

fix: Refactor importing licenses (again), go back to threads
  tm_admin/users/users.py
Labels: none

fix: More refactoring to use asyncpg
  tm_admin/users/users.py
Labels: none

fix: Move team_members to teams from users
  tm_admin/teams/team_members.yaml
Labels: none

fix: Move team_members from users to teams
  tm_admin/teams/teams.py
  tm_admin/teams/teams.yaml
  tm_admin/users/users.py
  tm_admin/users/users.yaml
Labels: none

build: update PYTHON_LIB to correct dir
  Dockerfile
Labels: devops

fix: Refactor to merge in team_members
  tm_admin/teams/teams.py
Labels: none

fix: Merge in the other 2 tables
  tm_admin/campaigns/campaigns.py
Labels: none

fix: Merge in the managers table
  tm_admin/organizations/organizations.py
Labels: none

fix: Import all the other project tables
  tm_admin/projects/projects.py
Labels: none

fix: Fix handling of unique keyword, it become the PRIMARY KEYs now
  tm_admin/generator.py
Labels: none

fix: Refactor how threads get created
  tm_admin/tmdb.py
Labels: none

fix: Fix logging setup
  tm_admin/generator.py
Labels: none

fix: refactor to use asyncpg everywhere
  tm_admin/dbsupport.py
Labels: none

fix: Add support for a primary key in the generated SQL file
  tm_admin/generator.py
Labels: none

fix: Add a few more columns fron TM
  tm_admin/projects/projects.yaml
Labels: none

fix: Define a nested table
  tm_admin/projects/projects_teams.yaml
Labels: none

fix: Make more support imports threaded
  tm_admin/projects/projects.py
Labels: none

fix: Move writeAllData() to importThread(), add method to import a table from a class, instead of main()
  tm_admin/tmdb.py
Labels: none

fix: Use TMImport() class to import data from TM4 into TM Admin so they can be done as groups instead of indivigually
  tm_admin/tmadmin_manage.py
Labels: none

fix: Minor reformatting
  tm_admin/users/users.py
Labels: none

fix: Fix command line to protoc when generating API docs for the protobuf files
  tm_admin/Makefile
Labels: none

fix: Add short doc on using asyncpg
  docs/pgasync.md
Labels: documentation

fix: Add more content
  docs/pgasync.md
Labels: documentation

fix: Add a primary key for each table
  tm_admin/campaigns/campaigns.yaml
  tm_admin/messages/messages.yaml
  tm_admin/organizations/organizations.yaml
  tm_admin/teams/team_members.yaml
  tm_admin/teams/teams.yaml
  tm_admin/users/users.yaml
Labels: none

fix: Add support for the messages table
  tm_admin/messages/messages.py
Labels: none

fix: Drop thje terminating carriage return
  tm_admin/generator.py
Labels: none

fix: support using a path in config file
  tm_admin/tmdb.py
Labels: none

fix: Load the types and the nested tables so the other imports work
  tm_admin/tmadmin_manage.py
Labels: none

fix: Add support to merge in the auxilary tables
  tm_admin/tmadmin_manage.py
Labels: none

.github/labeler.yml:

"devops":
  - ".github/**/*"
  - "Dockerfile"
  - "*entrypoint.sh"
  - "Makefile"
"dependency":
  - "pyproject.toml"
  - "pdm.lock"
"documentation":
  - "docs/**/*"
  - "mkdocs.yml"
  - "README.md"
"version":
  - "tm_admin/__version__.py"
