Repository hotosm/tm-admin, changes with the labels that .github/labeler.yml gives for each.
All labels: devops, dependency, documentation, version

fix: Add test case for organizations table
  tests/test_orgs.py
Labels: none

fix: Import the TM projects table is starting to work, whew
  tm_admin/tmdb.py
Labels: none

fix: Keep yamllint happy, adjust indents
  tm_admin/projects/projects.yaml
Labels: none

fix: Refactor the YAML into a dict, instead of a list of lists
  tm_admin/yamlfile.py
Labels: none

fix: Ad dminimal testcase for YAML config file parsing
  tests/test_yamlfile.py
Labels: none

fix: Refactor creating the INSERT command, use the config file for datatypes
  tests/test_yamlfile.py
  tm_admin/tmdb.py
Labels: none

fix: Handle zero length arrays
  tm_admin/tmdb.py
Labels: none

fix: Escape strings to remove embedded single quotes
  tm_admin/tmdb.py
Labels: none

fix: If required, use '' instead of NULL
  tm_admin/tmdb.py
Labels: none

fix: be less verbose
  tm_admin/dbsupport.py
Labels: none

fix: Minor changes to keep yamllint happy
  tm_admin/organizations/organizations.yaml
  tm_admin/tasks/tasks.yaml
  tm_admin/teams/teams.yaml
  tm_admin/users/users.yaml
Labels: none

fix: Don't get Entries in the constructor
  tm_admin/yamlfile.py
Labels: none

fix: Add one more endpoint to the doc
  docs/endpoints.md
Labels: documentation

fix: Get Entries here
  tests/test_yamlfile.py
Labels: none

fix: Add check target to run pytests
  Makefile
Labels: devops

fix: Minor cleanup, no code changes
  tm_admin/projects/projects.py
  tm_admin/tasks/tasks.py
Labels: none

fix: Add more generated files
  .gitignore
Labels: none

fix: Fix logging
  tm_admin/tmclient.py
Labels: none

fix: Add join_method
  tm_admin/teams/teams.yaml
Labels: none

fix: Comment out mapper_level for now
  tm_admin/projects/projects.yaml
Labels: none

fix: Add data for test cases
  tests/testdata.sql
  tests/testschema.sql
Labels: none

fix: Add more tests from the TM backend
  tests/test_users.py
Labels: none

fix: Add stubs for all the TM internal APIs
  tests/test_projects.py
Labels: none

fix: Add more tests, add unimplemented debug to stubs
  tests/test_dbsupport.py
  tests/test_orgs.py
  tests/test_placeholder.py
  tests/test_projects.py
  tests/test_users.py
Labels: none

fix: Add teams API tests
  tests/test_projects.py
  tests/test_teams.py
Labels: none

fix: Move target to build test data files to tests from top level
  tests/Makefile
Labels: none

fix: Handle required database columns not in the input source
  tm_admin/tmdb.py
Labels: none

fix: Use testdata generated from postgres
  tests/testdata.sql
  tests/tmorganizations.sql
  tests/tmp.sql
  tests/tmprojects.sql
  tests/tmtasks.sql
  tests/tmteams.sql
  tests/tmusers.sql
Labels: none

fix: Add target to import all .sql files into the test database
  tests/Makefile
Labels: none

fix: Use row_to_json() in all queries
  tm_admin/dbsupport.py
Labels: none

fix: Update tests after dbsupport changes
  tests/test_users.py
Labels: none

fix: Add support to merge the TM user_interests table into the tm_admin users table as an array
  tm_admin/users/users.py
Labels: none

fix: Add support to import from the TM4 user_licenses table into the licenses array in the tm_admin table
  tm_admin/users/users.py
Labels: none

fix: Add more info on the user tables
  docs/schema.md
Labels: documentation

fix: Import into testdata DB, not tm_admin
  tests/Makefile
Labels: none

fix: Regenerated after populating interests, licenses, and favorites with data from TM
  tests/tmprojects.sql
  tests/tmusers.sql
Labels: none

fix: New config file for task_history table
  tm_admin/tasks/task_history.yaml
Labels: none

fix: Make merging from user_licenses multi-threaded
  tm_admin/users/users.py
Labels: none

fix: Add columns from the TM project_info table
  tm_admin/projects/projects.yaml
Labels: none

fix: Add support to merge the TM project_info data into the TM Admin projects table
  tm_admin/projects/projects.py
Labels: none

.github/labeler.yml:

"devops":
  - ".github/**/*"
  - "Dockerfile"
  - "*entrypoint.sh"
  - "Makefile"
"dependency":
  - "pyproject.toml"
  - "pdm.lock"
"documentation":
  - "docs/**/*"
  - "mkdocs.yml"
  - "README.md"
"version":
  - "tm_admin/__version__.py"
